<!DOCTYPE html>
<html ng-app="comicNg">
    <head>
        <script src="js/vers.js"></script>
        <link rel="stylesheet" type="text/css" href="js/bootstrap.min.css"/>
        <script src="js/jquery-2.1.4.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-touch.min.js"></script>
        <!--<link rel="stylesheet" type="text/css" href="https://bootswatch.com/simplex/bootstrap.min.css"/>
        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.4.0/angular-touch.min.js"></script>-->
        <script src="js/app.js"></script>
    </head><body>
    <div ng-controller="StageDirector as scene">
        <p><span id="time"></span><!--{{scene.now}}--></p>
        <div id="myCarousel" class="carousel slide" data-ride="">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div ng-repeat="page in scene.pages" ng-hide="scene.now < page.release" class="item" ng-class="{active: $first}">
                    <h1>{{page.title}}</h1>
                    <p><img src="{{scene.config.dir + page.url}}" title="{{page.hover}}" alt="{{page.alt}}"></p>
                    <!--<p><button ng-hide="$first">|<</button>
                    <button ng-hide="$first">< Prev</button>
                    <button>Random</button>
                    <input type="number" class="tiny" ng-model="carouselIndex">
                    <button ng-hide="$last">Next ></button>
                    <button ng-hide="$last">>|</button></p>-->
                </div>
            </div>
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> 
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <p>Images Courtesy of <a src="http://xkcd.com/">XKCD</a></p>
    </div>
</body></html>


